.search-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 215px;
  justify-self: flex-end;
}

.search-wrapper {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 20px;
}

.search {
  width: 100%;
  padding: 10px 12px 10px 42px;
  border-radius: 10px;
  border: 0;
  box-sizing: border-box;

  background-color: var(--mat-sys-inverse-on-surface);

  &::placeholder {
    color: #999;
  }

  &:focus {
    outline: 1.5px solid var(--mat-sys-primary);
  }
}
