.header {
  padding: 1rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  padding: 0;
}

.link {
  display: flex;
  align-items: center;
}

.active-link {
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
}
