<header class="header">
  <mat-toolbar class="toolbar">
    <div class="app-name">NovaKrama</div>

    <nav>
      <ul class="nav-list">
        @for (item of navItems; track item.route) {
          <li>
            <a
              class="link"
              mat-button
              [routerLink]="item.route"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <mat-icon>
                {{ item.icon }}
              </mat-icon>

              <span class="link-text">
                {{ item.label }}
              </span>
            </a>
          </li>
        }
        <li>
          <button mat-button (click)="onLogout()">
            <mat-icon>logout</mat-icon>
            <span class="link-text">Logout</span>
          </button>
        </li>
      </ul>
    </nav>
  </mat-toolbar>
</header>
