.pagination {
  margin: 2rem 0 1rem;
  display: flex;
  justify-content: center;

  .controls {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .info {
    font-size: 1.05rem;
    color: #333;
  }

  .total {
    color: #666;
    font-size: 0.95rem;
  }
}
