<section class="register">
  <mat-card class="register__card">
    <div class="register__logo">
      <mat-icon class="register__logoIcon">person_add</mat-icon>
    </div>
    <h1 class="register__title">Create Account</h1>
    <p class="register__subtitle">Create your account to start shopping</p>
    @if (errorMessage()) {
      <div class="register__serverError">
        {{ errorMessage() }}
      </div>
    }

    <mat-stepper linear>
      <mat-step [stepControl]="accountForm">
        <form [formGroup]="accountForm">
          <ng-template matStepLabel> Account Information </ng-template>
          <div class="register__stepContent">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" />
              @if (accountForm.controls.firstName.hasError('required')) {
                <mat-error>First name is required</mat-error>
              }
              @if (accountForm.controls.firstName.hasError('pattern')) {
                <mat-error>First name cannot contain numbers</mat-error>
              }
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" />
              @if (accountForm.controls.lastName.hasError('required')) {
                <mat-error>Last name is required</mat-error>
              }
              @if (accountForm.controls.lastName.hasError('pattern')) {
                <mat-error>Last name cannot contain numbers</mat-error>
              }
            </mat-form-field>
            <mat-form-field (click)="picker.open()" appearance="outline">
              <mat-label>Date of Birth</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" readonly />
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              @if (
                accountForm.controls.dateOfBirth.hasError('required') &&
                accountForm.controls.dateOfBirth.touched
              ) {
                <mat-error>Date of birth is required</mat-error>
              } @else if (
                accountForm.controls.dateOfBirth.hasError('tooYoung') &&
                accountForm.controls.dateOfBirth.touched
              ) {
                <mat-error>You must be at least 18 years old</mat-error>
              }
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" />
              @if (accountForm.controls.email.invalid && accountForm.controls.email.touched) {
                <mat-error>Please enter a valid email</mat-error>
              }
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input
                matInput
                [type]="isPasswordVisible() ? 'text' : 'password'"
                formControlName="password"
              />
              <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
                <mat-icon>
                  {{ isPasswordVisible() ? 'visibility_off' : 'visibility' }}
                </mat-icon>
              </button>
              @if (
                accountForm.controls.password.hasError('required') &&
                accountForm.controls.password.touched
              ) {
                <mat-error>Password is required</mat-error>
              } @else if (
                accountForm.controls.password.hasError('minlength') &&
                accountForm.controls.password.touched
              ) {
                <mat-error>Password must be at least 8 characters</mat-error>
              } @else if (
                accountForm.controls.password.hasError('pattern') &&
                accountForm.controls.password.touched
              ) {
                <mat-error>Password must contain letters and numbers</mat-error>
              }
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input
                matInput
                [type]="isConfirmPasswordVisible() ? 'text' : 'password'"
                formControlName="confirmPassword"
              />
              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="toggleConfirmPasswordVisibility()"
              >
                <mat-icon>
                  {{ isConfirmPasswordVisible() ? 'visibility_off' : 'visibility' }}
                </mat-icon>
              </button>
              @if (
                accountForm.hasError('passwordMismatch') &&
                accountForm.controls.confirmPassword.touched
              ) {
                <mat-error>Passwords do not match</mat-error>
              }
            </mat-form-field>
            <div class="register__stepActions">
              <button mat-raised-button matStepperNext [disabled]="accountForm.invalid">
                Next
              </button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="addressForm">
        <form [formGroup]="addressForm">
          <ng-template matStepLabel> Address Information </ng-template>
          <div class="register__stepContent">
            <mat-form-field appearance="outline">
              <mat-label>Country</mat-label>
              <mat-select formControlName="country">
                @for (c of countries; track c.code) {
                  <mat-option [value]="c.code">
                    {{ c.label }}
                  </mat-option>
                }
              </mat-select>
              @if (addressForm.controls.country.invalid && addressForm.controls.country.touched) {
                <mat-error>Country is required</mat-error>
              }
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>City</mat-label>
              <input matInput formControlName="city" />
              @if (addressForm.controls.city.hasError('required')) {
                <mat-error>City is required</mat-error>
              } @else if (addressForm.controls.city.hasError('pattern')) {
                <mat-error>City cannot contain numbers</mat-error>
              }
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Street</mat-label>
              <input matInput formControlName="street" />
              @if (addressForm.controls.street.invalid && addressForm.controls.street.touched) {
                <mat-error>Street is required</mat-error>
              }
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Postal Code</mat-label>
              <input matInput formControlName="postalCode" />
              @if (
                addressForm.controls.postalCode.hasError('invalidPostalCode') &&
                addressForm.controls.postalCode.touched
              ) {
                <mat-error>Invalid postal code for selected country</mat-error>
              }
            </mat-form-field>
            <div class="register__stepActions">
              <button mat-button type="button" matStepperPrevious>Back</button>
              <button
                mat-raised-button
                type="button"
                (click)="submit()"
                [disabled]="addressForm.invalid"
              >
                Create Account
              </button>
            </div>
          </div>
        </form>
      </mat-step>
    </mat-stepper>

    <a routerLink="/login"> Already have an account? Login </a>
  </mat-card>
</section>
