@if (breadcrumbs().length > 0) {
  <div class="breadcrumbs-container">
    <nav class="breadcrumbs">
      @for (crumb of breadcrumbs(); track crumb.label; let last = $last) {
        @if (!last) {
          <a class="link" [routerLink]="crumb.url" (click)="onCrumbClick(crumb)">
            <mat-icon class="catalog-icon">{{ crumb.icon }}</mat-icon>
            {{ crumb.label }}</a
          >
          <span>&nbsp;&nbsp;>&nbsp;&nbsp;</span>
        } @else {
          <span class="current">{{ crumb.label }}</span>
        }
      }
    </nav>
  </div>
}
