.cart-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  text-decoration: none;
}

.active-link {
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
}

@media (max-width: 780px) {
  .cart-badge {
    width: 100%;
    justify-content: flex-start;
  }
}
