@if (product(); as productItem) {
  <app-product-breadcrumbs [productName]="productItem.name" [slug]="productItem.slug" />
  <div class="page-content">
    <app-product-gallery class="gallery" [images]="productItem.images" />
    <div class="info-btns">
      <div class="info">
        <div>
          <p class="brand-name">{{ productItem.brand }}</p>
          <h2 class="product-name">{{ productItem.name }}</h2>
        </div>
        <div class="price-block">
          <span class="price">
            {{ actualPrice() | currency: productItem.currency }}
          </span>

          @if (hasDiscount()) {
            <span class="old-price">
              {{ productItem.price | currency: productItem.currency }}
            </span>
          }
        </div>
        <p>{{ productItem.description }}</p>
      </div>
      <div class="btns">
        <app-cart-button class="add-to-cart-btn" [product]="productItem" />
        <app-wishlist-button class="wishlist-btn" [product]="productItem" />

        <button
          mat-icon-button
          class="compare-btn"
          [class.active]="isCompared()"
          (click)="toggleCompare($event)"
        >
          <mat-icon>balance</mat-icon>
        </button>
      </div>
    </div>
  </div>
} @else {
  <p class="nothing-found-text">Nothing found</p>
}
