<div class="page-content">
  <div class="sort-search">
    <app-sort [value]="sort()" (valueChange)="onSortChange($event)" />
    <app-search [value]="search()" (valueChange)="onSearchChange($event)" />
  </div>
  <div class="catalog-page">
    @if (filteredAndSortedProducts().length > 0) {
      <div class="grid">
        @for (product of filteredAndSortedProducts(); track product.id) {
          <app-product-card [product]="product" />
        }
      </div>
    } @else {
      <p class="nothing-found-text">Nothing found</p>
    }
  </div>
</div>
